body {background-color: blueviolet;

}

h1 {color: rgb(0, 0, 0);

}

.p1 {text-align: center;
    font-size: 150%;
    color: rgb(0, 0, 0);
    border-width: 5px;
    border-color: black;
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
}

